.contentContainer {
  background-color: #252160;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  min-width: 800px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}
/*
box-shadow: 3px 5px 10px #888888;
*/

@media only screen and (max-width: 900px) {
  .contentContainer {
    min-width: 350px;
  }
}

.button {
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
}



.form {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.freeText {
  border-radius: 3px;
  border: none;
}

.label{
  font-size: 1.3rem;
  font-weight: bold;
}