.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:  center;
  background-color: #252160;
  border-radius: 20px;
  margin: 10px;
  min-width: 800px;
  padding: 20px;
}

.challenge {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:  center;
  padding: 10px;
  min-width: 760px;
}

.freeText {
  background-color: #130D3F;
  max-width: 760px;
  color: white;
  padding: 10px;
  overflow-wrap: break-word;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .card {
    min-width: 310px;
  }
  .challenge {
    min-width: 310px;
  }
  .freeText {
    max-width: 310px;
  }
}