@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,
body {
  background-color: #130D3F;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/*

font-family: "Roboto";
font-weight: 300;
line-height: 1.5em;

font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
*/

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
